body {
    font-family:"Helvetica Heue", Helvetica, Arial, sans-serif;
    margin: 0;
    background-color: #fff;
    color: #fff;
}

.menu {
    width: 100%;
    height: 50px;
    background-color: none;
}

.menu, 
li {
    color: #333;
    font: bold 1em "Helvetica Heue";
    text-align: center;
    display: inline-block;
    list-style: none;
    text-decoration: none;
    margin: 0% auto;
    padding: 15px;
    float: none;
}

.wrap {
    height: 600px;
    background: url(../images/high_forest.jpg) no-repeat;
    background-size: cover;
    background-attachment: fixed;
    box-shadow: 1px 0 5px 5px rgb(71, 70, 70);
}

.home {
    height: 200px;
    margin: auto;
}

.text-center {
    margin: auto;
    padding: 200px 50px 100px 50px; 
    text-align: center;   
}

#about,
#skills,
#portfolio {
    width: 100%;
    height: 500px;
    border-bottom: 1px solid #333;
    color: #333;
}

#skills {
    background-color: #f2f2f2;
}

.text-container {
    text-align: center;
    padding: 30px 20px 10px;
}

.container {
    width: 100%;
    margin-top: 50px;
    padding-bottom: 30px;
    text-align: center;
}

.footer {
    height: 40px;
    /* border-top: #333 solid 2px; */
}

#home-main { 
    font-family: 'Doppio One', sans-serif;
    font-size: 5em;  
}

#intro {
    padding-top: 20px;
}


/* HOVER EFFECTS */

